{
    "python.pythonPath": "/Users/abingham/.virtualenvs/cosmic-ray/bin/python",
    "python.unitTest.unittestEnabled": false,
    "python.unitTest.nosetestsEnabled": false,
    "python.unitTest.pyTestEnabled": true,
    "python.unitTest.pyTestArgs": [
        "test"
    ],
    "python.formatting.provider": "autopep8",
}